/*   * set's rules for the entire page    */
* {
    box-sizing: border-box; /*This line makes sure the width and height are the correct sizes no matter the padding */
    font-family: "Lucida Console", Monaco, monospace;
}

.container{
    margin: auto;
    width: 100%;
}

.other{
    margin: auto;
    width: 60%;
}
/*Grid Created*/
.col-1 {width: 100%; text-align: center}
.col-2 {width: 60%; float: left}

/* Settings for row divs */
.row{
    background-color: lightblue;
    padding: 25px;
    border: .5px solid yellow;
}

[class*='col-'] { /* This css rule applies to any element that has the string "col-" in its class*/
    float: left;
    min-height: 1px;
    /*-- our gutter inside each cell around it's content, change the value to see how it works--*/
    padding: 0px;

    border: .5px solid red;
    /**********Another way to set background color: Change the number values in it and see what happens**********/
    background: lightpink;
}

/*Mobile Settings*/
@media screen and (max-width: 500px) {
    body {
        background-color: lightgreen;
    }
    .m-col-1 {width: 75%;}
    .m-col-2 {width: 60%;}
}